<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Mickes Wordlespel</title>
  </head>
  <body className='bg-red-500'>
    <p className=''>About us</p>
    <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
      obcaecati alias explicabo aspernatur labore voluptatibus eaque nihil
      itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed ea nobis
      cumque.</section>
  </body>
</html>