<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href="/output.css"  type='text/css' rel="stylesheet">
    <title>About Wordle</title>
  </head>
  <body class="steamDark overflow-y-hidden flex">
        <aside class='steamGreen mw-48 h-5/5 border-r-2 p-4 h-screen'> 
   {{> aside}}
   </aside>
    <main class="flex flex-col w-full ">
  
  <section class="text-white max-w-3xl text-2xl self-center lg:mt-80 mt-4">
    <p class=" "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        obcaecati alias explicabo aspernatur labore voluptatibus eaque nihil
        itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed ea
        nobis cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sequi obcaecati alias explicabo aspernatur labore voluptatibus eaque
        nihil itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed
        ea nobis cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sequi obcaecati alias explicabo aspernatur labore voluptatibus eaque
        nihil itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed
        ea nobis cumque.</p>
        </section>
    </main>
    
  </body>
</html>