<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href="/output.css"  type='text/css' rel="stylesheet">
    <title>About Wordle</title>
  </head>
  <body class="steamDark">
    <aside class='steamGreen mw-48 h-screen fixed top-0 left-0 p-4 border-r-2 '> 
   {{> aside}}
   </aside>
    <main class=" flex justify-center items-center h-screen">
  <section class="text-white max-w-3xl px-4 text-2xl ml-36">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        obcaecati alias explicabo aspernatur labore voluptatibus eaque nihil
        itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed ea
        nobis cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sequi obcaecati alias explicabo aspernatur labore voluptatibus eaque
        nihil itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed
        ea nobis cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sequi obcaecati alias explicabo aspernatur labore voluptatibus eaque
        nihil itaque. Facilis, rerum ratione! Ut minus aliquid, optio sequi sed
        ea nobis cumque.</section>
    </main>
    
  </body>
</html>