<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/output.css' type='text/css' rel='stylesheet' />
    <title>Wordle Highscore</title>
  </head>
  <body class='steamDark'>
  
    <main class="flex flex-row">
        <aside class="steamGreen mw-48 h-5/5 border-r-2 p-4"> 
    {{> aside}}
    </aside>
      <section class="h-full w-4/5 mr-10 ml-10 flex flex-wrap justify-start steamGreen"> 
        
      {{> playerScoreCard}}
     
      </section>
    </main>
  </body>
</html>