<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/output.css' type='text/css' rel='stylesheet' />
    <title>Wordle Highscore</title>
  </head>
  <body class='steamDark'>
    <aside class="bg-red-500 mw-48 h-screen fixed top-0 left-0 p-4 "> 
    {{> aside}}
    </aside>
    <main>

    </main>
  </body>
</html>