<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Mickes WordleGame</title>
  </head>
  <body>
    <p className='bg-red-500'> Mainffs</p>
    {{{body}}}
  </body>
</html>